.DS_Store
.build/
/build/
/build64/
/build32/
/build-wasm/
/build**
/tags
.idea
.ycm_extra_conf.py
.ycm_extra_conf.pyc
build/src/Release
build/src/Debug
src/CMakeCache.txt
src/CMakeFiles/
src/Makefile
src/build/
src/cmake_install.cmake
*.swp
.vscode
.howto/
node_modules/
**/node_modules/
dist/
**/dist/
extras/web-wallet-wasm/web/wasm/generated/*
extras/mobile-wallet/.dart_tool/*
extras/mobile-wallet/android/local.properties
extras/mobile-wallet/build/**
extras/mobile-wallet/android/.gradle/**
extras/web-wallet/.dart_tool/**
