name: Build
on:
  push:
  pull_request:
  release:
    types: [published]
  schedule:
    - cron: '30 3 * * 0'

env:
  TAG: ${{ github.ref }}

jobs:
  # Common Build matrix for builds on Ubuntu VM
  ubuntu_build_20:
    name: ${{ matrix.build_name }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        # Add more compilers here if you need them
        build_name: ['Ubuntu 20 GCC 9', 'aarch64', 'aarch32-linux-gnueabihf', 'aarch32-linux-gnueabi']
        include:
          - build_name: 'Ubuntu 20 GCC 9'
            package_name: 'gcc-9 g++-9'
            cc: gcc-9
            cxx: g++-9
            label: u20-gcc-9
            deployable: true
          - build_name: 'aarch64'
            label: aarch64
            deployable: true
          - build_name: 'aarch32-linux-gnueabihf'
            label: aarch32-linux-gnueabihf
            deployable: true
          - build_name: 'aarch32-linux-gnueabi'
            label: aarch32-linux-gnueabi
            deployable: true
    env:
      CCACHE_DIR: $GITHUB_WORKSPACE/.ccache
      LABEL: ${{ matrix.label }}
    steps:
      - uses: actions/checkout@v3

      # Fetch Dependencies
      - name: Dependencies
        if: matrix.build_name != 'aarch64' && matrix.build_name != 'aarch32-linux-gnueabihf' && matrix.build_name != 'aarch32-linux-gnueabi'
        run: |
          sudo apt update
          sudo apt install -y libboost-all-dev libssl-dev ${{ matrix.package_name }}

      - name: Setup ccache
        run: |
          sudo apt install ccache

      - name: Retrieve ccache
        uses: actions/cache@v2
        with:
          path: .ccache
          key: ccache-${{ matrix.label }}

      # Configure the project with cmake
      - name: Configure
        if: matrix.build_name != 'aarch64' && matrix.build_name != 'aarch32-linux-gnueabihf' && matrix.build_name != 'aarch32-linux-gnueabi'
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: |
          if [[ "${LABEL}" == "linux-86" ]]
          then
            source scripts/pre-linux-32.sh
            mkdir build && cd build
            export CXXFLAGS=-m32
            export CFLAGS=-m32
            cmake -DARCH=default -DCMAKE_BUILD_TYPE=Release -DCMAKE_SYSTEM_PROCESSOR=i686 -DSTATIC=true ..
          else
            mkdir build && cd build
            cmake -DARCH=default -DCMAKE_BUILD_TYPE=Release -DSTATIC=true ..
          fi

      # Build for linux
      - name: Build
        if: matrix.build_name != 'aarch64' && matrix.build_name != 'aarch32-linux-gnueabihf' && matrix.build_name != 'aarch32-linux-gnueabi'
        run: |
          cd build
          make -j2

      # Build for aarch64
      - name: Prepare and Build (aarch64 / aarch32)
        if: matrix.build_name == 'aarch64' || matrix.build_name == 'aarch32-linux-gnueabihf' || matrix.build_name == 'aarch32-linux-gnueabi'
        run: |
          if [[ "${LABEL}" == "aarch64" ]]
          then
            source scripts/prep-aarch64.sh
          elif [[ "${LABEL}" == "aarch32-linux-gnueabihf" ]]
          then
            source scripts/prep-aarch32-linux-gnueabihf.sh
          elif [[ "${LABEL}" == "aarch32-linux-gnueabi" ]]
          then
            source scripts/prep-aarch32-linux-gnueabi.sh
          fi
          mkdir build && cd build
          cmake -DARCH=default -DCMAKE_BUILD_TYPE=Release -DSTATIC=true ..
          make -j2
          cd src
          TARGETS="Wrkzd miner wrkz-wallet wrkz-service cryptotest wrkz-wallet-api wallet-upgrader"
          ${STRIP} ${TARGETS}

      # Test the crypto
      - name: Test Crypto
        if: matrix.build_name != 'aarch64' && matrix.build_name != 'aarch32-linux-gnueabi' && matrix.build_name != 'aarch32-linux-gnueabihf'
        run: |
          cd build/src
          ./cryptotest

      # Prepare for deploy
      - name: Prepare for Deploy
        id: before_deploy
        env:
          COMMIT_SHA: ${{ github.sha }}
        run: |
          export TAG=${COMMIT_SHA::7}
          cd build/src
          TARGETS="Wrkzd miner wrkz-wallet wrkz-service cryptotest wrkz-wallet-api wallet-upgrader"
          if [[ "${LABEL}" != "aarch64" && "${LABEL}" != "aarch32-linux-gnueabi" && "${LABEL}" != "aarch32-linux-gnueabihf" ]]; then strip ${TARGETS}; fi
          rm -rf wrkzcoin-${TAG}
          mkdir wrkzcoin-${TAG}
          cp ${TARGETS} wrkzcoin-${TAG}/
          cp ../../LICENSE wrkzcoin-${TAG}/
          tar cvfz wrkzcoin-${LABEL}-${TAG}.tar.gz wrkzcoin-${TAG}/
          rm -rf builds
          mkdir builds
          cp wrkzcoin-${LABEL}-${TAG}.tar.gz builds/
          echo ::set-output name=file_name::wrkzcoin-${LABEL}-${TAG}.tar.gz

      # Upload to S3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 # Or other version

      - name: Install awscli via pipx # Isolates dependencies
        id: install-s3
        continue-on-error: true
        shell: bash
        run: |
          export PATH=~/.local/bin:$PATH
          pip install --user pipx
          pipx install awscli
          pip install --user pipx awscli-plugin-endpoint

      - name: S3 Upload
        id: s3-upload
        continue-on-error: true
        env:
          BINARY_DISCORD_HOOK: ${{ secrets.DISCORD_HOOK }}
          BINARY_UPLOAD: ${{ secrets.BINARY_URL_S3 }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }} # optional: defaults to us-east-1
          AWS_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          SOURCE_DIR: 'build/src/' # optional: defaults to entire repository
          DEST_DIR: 'cli'
          COMMIT_SHA: ${{ github.sha }}
          REPO: 'cli'
        shell: bash
        if: steps.install-s3.outcome == 'success' && steps.install-s3.conclusion == 'success'
        run: |
          FILENAME="./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}"
          FILESIZE=$(ls -lah "$FILENAME" | awk '{ print $5}')
          DATE_WITH_TIME=`date "+%Y%m%d-%H%M"`
          SHA8=${COMMIT_SHA::7}
          OUT_FILENAME="${DATE_WITH_TIME}-${COMMIT_SHA::7}-${{ steps.before_deploy.outputs.file_name }}"
          URL_FILE="\`\`\`${BINARY_UPLOAD}${DEST_DIR}/$OUT_FILENAME\`\`\`"
          BUILD_CONTENT="$RUNNER_OS-${{ matrix.build_name }}-$SHA8 Size: $FILESIZE "$URL_FILE
          if [ "$RUNNER_OS" == "Windows" ] || [ "$RUNNER_OS" == "macOS" ]; then
            ~/.local/bin/aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
            ~/.local/bin/aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
            ~/.local/bin/aws configure set default.region ${AWS_REGION}
            ~/.local/bin/aws s3 cp "./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}" "s3://${AWS_S3_BUCKET}/${DEST_DIR}/${OUT_FILENAME}" --no-progress --endpoint-url "${AWS_ENDPOINT}" --acl public-read
            ~/.local/bin/aws configure set aws_access_key_id null
            ~/.local/bin/aws configure set aws_secret_access_key null
            ~/.local/bin/aws configure set default.region null
          elif [ "$RUNNER_OS" == "Linux" ]; then
            aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
            aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
            aws configure set default.region ${AWS_REGION}
            aws s3 cp "./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}" "s3://${AWS_S3_BUCKET}/${DEST_DIR}/${OUT_FILENAME}" --no-progress --endpoint-url "${AWS_ENDPOINT}" --acl public-read
            aws configure set aws_access_key_id null
            aws configure set aws_secret_access_key null
            aws configure set default.region null
          fi
          if [ "$RUNNER_OS" == "Linux" ] || [ "$RUNNER_OS" == "macOS" ]; then
            curl -H "Content-Type: application/json" -X POST -d "{\"username\": \"BuildBot-$RUNNER_OS-$REPO\", \"content\": \"$BUILD_CONTENT\"}" ${BINARY_DISCORD_HOOK}
          fi

  ubuntu_build_22:
    name: ${{ matrix.build_name }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # Add more compilers here if you need them
        build_name: ['Ubuntu 22 GCC 9']
        include:
          - build_name: 'Ubuntu 22 GCC 9'
            package_name: 'gcc-9 g++-9'
            cc: gcc-9
            cxx: g++-9
            label: u22-gcc-9
            deployable: true
    env:
      CCACHE_DIR: $GITHUB_WORKSPACE/.ccache
      LABEL: ${{ matrix.label }}
    steps:
      - uses: actions/checkout@v3

      # Fetch Dependencies
      - name: Dependencies
        run: |
          sudo apt update
          sudo apt install -y libboost-all-dev libssl-dev ${{ matrix.package_name }}

      - name: Setup ccache
        run: |
          sudo apt install ccache

      - name: Retrieve ccache
        uses: actions/cache@v2
        with:
          path: .ccache
          key: ccache-${{ matrix.label }}

      # Configure the project with cmake
      - name: Configure
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: |
          if [[ "${LABEL}" == "linux-86" ]]
          then
            source scripts/pre-linux-32.sh
            mkdir build && cd build
            export CXXFLAGS=-m32
            export CFLAGS=-m32
            cmake -DARCH=default -DCMAKE_BUILD_TYPE=Release -DCMAKE_SYSTEM_PROCESSOR=i686 -DSTATIC=true ..
          else
            mkdir build && cd build
            cmake -DARCH=default -DCMAKE_BUILD_TYPE=Release -DSTATIC=true ..
          fi

      # Build for linux
      - name: Build
        run: |
          cd build
          make -j2

      # Test the crypto
      - name: Test Crypto
        run: |
          cd build/src
          ./cryptotest

      # Prepare for deploy
      - name: Prepare for Deploy
        id: before_deploy
        env:
          COMMIT_SHA: ${{ github.sha }}
        run: |
          export TAG=${COMMIT_SHA::7}
          cd build/src
          TARGETS="Wrkzd miner wrkz-wallet wrkz-service cryptotest wrkz-wallet-api wallet-upgrader"
          if [[ "${LABEL}" != "aarch64" && "${LABEL}" != "aarch32-linux-gnueabi" && "${LABEL}" != "aarch32-linux-gnueabihf" ]]; then strip ${TARGETS}; fi
          rm -rf wrkzcoin-${TAG}
          mkdir wrkzcoin-${TAG}
          cp ${TARGETS} wrkzcoin-${TAG}/
          cp ../../LICENSE wrkzcoin-${TAG}/
          tar cvfz wrkzcoin-${LABEL}-${TAG}.tar.gz wrkzcoin-${TAG}/
          rm -rf builds
          mkdir builds
          cp wrkzcoin-${LABEL}-${TAG}.tar.gz builds/
          echo ::set-output name=file_name::wrkzcoin-${LABEL}-${TAG}.tar.gz

      # Upload to S3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 # Or other version

      - name: Install awscli via pipx # Isolates dependencies
        id: install-s3
        continue-on-error: true
        shell: bash
        run: |
          export PATH=~/.local/bin:$PATH
          pip install --user pipx
          pipx install awscli
          pip install --user pipx awscli-plugin-endpoint

      - name: S3 Upload
        id: s3-upload
        continue-on-error: true
        env:
          BINARY_DISCORD_HOOK: ${{ secrets.DISCORD_HOOK }}
          BINARY_UPLOAD: ${{ secrets.BINARY_URL_S3 }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }} # optional: defaults to us-east-1
          AWS_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          SOURCE_DIR: 'build/src/' # optional: defaults to entire repository
          DEST_DIR: 'cli'
          COMMIT_SHA: ${{ github.sha }}
          REPO: 'cli'
        shell: bash
        if: steps.install-s3.outcome == 'success' && steps.install-s3.conclusion == 'success'
        run: |
          FILENAME="./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}"
          FILESIZE=$(ls -lah "$FILENAME" | awk '{ print $5}')
          DATE_WITH_TIME=`date "+%Y%m%d-%H%M"`
          SHA8=${COMMIT_SHA::7}
          OUT_FILENAME="${DATE_WITH_TIME}-${COMMIT_SHA::7}-${{ steps.before_deploy.outputs.file_name }}"
          URL_FILE="\`\`\`${BINARY_UPLOAD}${DEST_DIR}/$OUT_FILENAME\`\`\`"
          BUILD_CONTENT="$RUNNER_OS-${{ matrix.build_name }}-$SHA8 Size: $FILESIZE "$URL_FILE
          if [ "$RUNNER_OS" == "Windows" ] || [ "$RUNNER_OS" == "macOS" ]; then
            ~/.local/bin/aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
            ~/.local/bin/aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
            ~/.local/bin/aws configure set default.region ${AWS_REGION}
            ~/.local/bin/aws s3 cp "./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}" "s3://${AWS_S3_BUCKET}/${DEST_DIR}/${OUT_FILENAME}" --no-progress --endpoint-url "${AWS_ENDPOINT}" --acl public-read
            ~/.local/bin/aws configure set aws_access_key_id null
            ~/.local/bin/aws configure set aws_secret_access_key null
            ~/.local/bin/aws configure set default.region null
          elif [ "$RUNNER_OS" == "Linux" ]; then
            aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
            aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
            aws configure set default.region ${AWS_REGION}
            aws s3 cp "./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}" "s3://${AWS_S3_BUCKET}/${DEST_DIR}/${OUT_FILENAME}" --no-progress --endpoint-url "${AWS_ENDPOINT}" --acl public-read
            aws configure set aws_access_key_id null
            aws configure set aws_secret_access_key null
            aws configure set default.region null
          fi
          if [ "$RUNNER_OS" == "Linux" ] || [ "$RUNNER_OS" == "macOS" ]; then
            curl -H "Content-Type: application/json" -X POST -d "{\"username\": \"BuildBot-$RUNNER_OS-$REPO\", \"content\": \"$BUILD_CONTENT\"}" ${BINARY_DISCORD_HOOK}
          fi

  # Mac builds on Catalina VM
  macos_build:
    name: macOS
    runs-on: macos-11
    env:
      CC: /usr/local/opt/llvm@8/bin/clang
      CXX: /usr/local/opt/llvm@8/bin/clang++
      LABEL: osx
      CCACHE_DIR: $GITHUB_WORKSPACE/.ccache
    steps:
      - uses: actions/checkout@v3

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '11.7.0'

      # Fetch Dependencies
      - name: Dependencies
        run: |
          brew uninstall --force --ignore-dependencies llvm
          brew cleanup -s llvm
          brew cleanup --prune-prefix
          brew install --force boost llvm@8 ccache
          brew link --overwrite llvm@8
          ln -s /usr/local/opt/llvm@8 /usr/local/opt/llvm

      - name: Retrieve ccache
        uses: actions/cache@v2
        with:
          path: .ccache
          key: ccache-osx

      # Configure project with cmake
      - name: Configure
        run: |
          mkdir build && cd build
          cmake -DARCH=default -DCMAKE_BUILD_TYPE=Release -DSTATIC=true ..

      # Build for macOS
      - name: Build
        run: |
          cd build
          make -j2

      # Test the crypto
      - name: Test Crypto
        if: matrix.build_name != 'aarch64' && matrix.build_name != 'aarch32-linux-gnueabi' && matrix.build_name != 'aarch32-linux-gnueabihf'
        run: |
          cd build/src
          ./cryptotest

      # Prepare for deploy
      - name: Prepare for Deploy
        id: before_deploy
        env:
          COMMIT_SHA: ${{ github.sha }}
        run: |
          export TAG=${COMMIT_SHA::7}
          cd build/src
          TARGETS="Wrkzd miner wrkz-wallet wrkz-service cryptotest wrkz-wallet-api wallet-upgrader"
          strip ${TARGETS}
          rm -rf wrkzcoin-${TAG}
          mkdir wrkzcoin-${TAG}
          cp ${TARGETS} wrkzcoin-${TAG}/
          cp ../../LICENSE wrkzcoin-${TAG}/
          tar cvfz wrkzcoin-${LABEL}-${TAG}.tar.gz wrkzcoin-${TAG}/
          rm -rf builds
          mkdir builds
          cp wrkzcoin-${LABEL}-${TAG}.tar.gz builds/
          echo ::set-output name=file_name::wrkzcoin-${LABEL}-${TAG}.tar.gz

      # Upload to S3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 # Or other version

      - name: Install awscli via pipx # Isolates dependencies
        id: install-s3
        continue-on-error: true
        shell: bash
        run: |
          export PATH=~/.local/bin:$PATH
          pip install --user pipx
          pipx install awscli
          pip install --user pipx awscli-plugin-endpoint

      - name: S3 Upload
        id: s3-upload
        continue-on-error: true
        env:
          BINARY_DISCORD_HOOK: ${{ secrets.DISCORD_HOOK }}
          BINARY_UPLOAD: ${{ secrets.BINARY_URL_S3 }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }} # optional: defaults to us-east-1
          AWS_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          SOURCE_DIR: 'build/src' # optional: defaults to entire repository
          DEST_DIR: 'cli'
          COMMIT_SHA: ${{ github.sha }}
          REPO: 'cli'
        shell: bash
        if: steps.install-s3.outcome == 'success' && steps.install-s3.conclusion == 'success'
        run: |
          FILENAME="./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}"
          FILESIZE=$(ls -lah "$FILENAME" | awk '{ print $5}')
          DATE_WITH_TIME=`date "+%Y%m%d-%H%M"`
          SHA8=${COMMIT_SHA::7}
          OUT_FILENAME="${DATE_WITH_TIME}-${COMMIT_SHA::7}-${{ steps.before_deploy.outputs.file_name }}"
          URL_FILE="\`\`\`${BINARY_UPLOAD}${DEST_DIR}/$OUT_FILENAME\`\`\`"
          BUILD_CONTENT="$RUNNER_OS-${{ matrix.build_name }}-$SHA8 Size: $FILESIZE "$URL_FILE
          if [ "$RUNNER_OS" == "Windows" ] || [ "$RUNNER_OS" == "macOS" ]; then
            ~/.local/bin/aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
            ~/.local/bin/aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
            ~/.local/bin/aws configure set default.region ${AWS_REGION}
            ~/.local/bin/aws s3 cp "./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}" "s3://${AWS_S3_BUCKET}/${DEST_DIR}/${OUT_FILENAME}" --no-progress --endpoint-url "${AWS_ENDPOINT}" --acl public-read
            ~/.local/bin/aws configure set aws_access_key_id null
            ~/.local/bin/aws configure set aws_secret_access_key null
            ~/.local/bin/aws configure set default.region null
          elif [ "$RUNNER_OS" == "Linux" ]; then
            aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
            aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
            aws configure set default.region ${AWS_REGION}
            aws s3 cp "./${SOURCE_DIR}/${{ steps.before_deploy.outputs.file_name }}" "s3://${AWS_S3_BUCKET}/${DEST_DIR}/${OUT_FILENAME}" --no-progress --endpoint-url "${AWS_ENDPOINT}" --acl public-read
            aws configure set aws_access_key_id null
            aws configure set aws_secret_access_key null
            aws configure set default.region null
          fi
          if [ "$RUNNER_OS" == "Linux" ] || [ "$RUNNER_OS" == "macOS" ]; then
            curl -H "Content-Type: application/json" -X POST -d "{\"username\": \"BuildBot-$RUNNER_OS-$REPO\", \"content\": \"$BUILD_CONTENT\"}" ${BINARY_DISCORD_HOOK}
          fi

